# Node modules
client/node_modules/
server/node_modules/

# Build output
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Environment files
.env


# Misc
client/package-lock.json
server/package-lock.json